<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me: Zachary Cho</title>
</head>
<body>

<!-- Brief introduction of myself -->
<h1>About Me: Zachary Cho</h1>

<p> Hello! My name is <strong>Zachary Cho.</strong> I was born & raised in a town in Pennsylvania. After I
    graduated from high school, I decided to attend the <strong>University of Maryland, College Park.</strong>
    Currently, I am a senior. I am studying Accounting and Information Systems at the Robert H. Smith School of
    Business. As I am approaching graduation, I have been able to reflect on many amazing memories & experiences both
    inside & outside the classroom.

</p>

<!-- Some of my hobbies & interests -->
<h2>Hobbies & interests</h2>

<p> I really enjoy traveling. A common place that I travel to with friends & family is New York City. One place that
    I want to travel to is Japan. I also really enjoy eating and trying new foods. I love all cuisines, but my favorite
    is probably Korean. Finally, I spend a lot of time watching and playing sports. My favorite sports to watch are
    soccer, basketball, and football. My favorite sport to play is soccer. I have played soccer since I was around 5
    years old. Below this paragraph are my personal lists regarding the things I just talked about.
  </p>
<!-- Lists of my favorite professional soccer teams, restaurants, and places I want to visit -->
<h3>List of my favorite professional soccer teams</h3>
    <ul>
    <li>Chelsea Football Club</li>
    <li>Football Club Barcelona</li>
    <li>Philadelphia Eagles</li>
    <li>Philadelphia 76ers</li>
</ul>

<h3>List of my favorite restaurants</h3>
<ul>

    <li>Kim's Restaurant</li>
    <li>Salt Korean BBQ</li>
    <li>DuBu</li>
</ul>

<h3>Ranked list of places I want to visit</h3>
<ol>
    <li>South Korea</li>
     <li>South Africa</li>
     <li>Spain</li>
    <li>Greece</li>
</ol>
<!-- Table consisting of courses I have taken and their corresponding semester -->
<h2>College courses I have taken</h2>
<table>
    <tr>
        <th>Course</th>
        <th>Semester</th>
    </tr>
    <tr>
       <td>Business Statistics</td>
        <td>Spring 2024</td>
    </tr>
    <tr>
      <td>Accounting Systems</td>
        <td>Fall 2025</td>
    </tr>
    <tr>
       <td>Database Systems</td>
        <td>Fall 2025</td>
    </tr>
</table>
<!-- Links to my Hello Page & favorite websites (Wordle & Uniqlo) -->

<h2>Links to my Hello Page & favorite websites</h2>
<p>
    <a href="/hello">Visit my Hello Page here </a>
</p>

<p>
    <a href="https://www.nytimes.com/games/wordle/index.html">Wordle</a>
</p>
<p>
    <a href="https://www.uniqlo.com/us/en/?srsltid=AU7gw4WajMYJBWHTocjjG4Pk1qGCwmTVUjX2tvmd4aXHqaHtrgiiEMHu"
       target="_blank">Uniqlo</a>

</p>
<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     alt="Robert H. Smith School of Business Logo"
     width="267"
     height="72">
</body>
</html>